<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net40-Client" requireReinstallation="True" />
  <package id="MarvelousSoftware.Core" version="0.1.0.0" targetFramework="net452" />
  <package id="MarvelousSoftware.Grid.DataSource" version="0.1.0.1" targetFramework="net452" />
  <package id="MarvelousSoftware.Grid.QueryLanguage" version="0.1.0.0" targetFramework="net452" />
  <package id="MarvelousSoftware.QueryLanguage" version="0.1.0.0" targetFramework="net452" />
  <package id="PasswordTextBox-Control" version="0.4.0" targetFramework="net40-Client" requireReinstallation="True" />
</packages>